.body {
    width: 100%;
    min-height: 80%;
    height: auto;
    z-index: 0;
    position: relative;
    top:0;
    transition: all .5s ease;
    background: #e2d8db;
    padding: 0px 1rem 38px;
}


