<nav>
<mat-toolbar class="menucls">
  <mat-toolbar-row>
    <ul class="menu">
      <li *ngFor="let module of modules">
        <a><button mat-button>{{ module.moduleName }}</button></a>      
        <ul class="submenu">
          <li *ngFor="let feature of module.featuresDOs">                     
            <a routerLink="{{ feature.compref }}" routerLinkActive="activelinkcls" [routerLinkActiveOptions]="{exact:true}" >{{ feature.featurename }}</a>                                
          </li>
        </ul>   
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
</nav>